<!DOCTYPE html>
<!--<html lang="en" />-->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/general.css" />
</head>
<body>
<h1>Edd & Sanu's Wedding</h1>
<section class="navigation">
    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="aurangabad.html">Aurangabad</a></li>
        <li><a href="travel-info.html">Travel & Hotels</a></li>
        <li><a href="documentation.html">Documentation</a></li>
        <li><a href="itinerary.html">Itinerary</a></li>
        <li><a href="rsvp.html">RSVP</a></li>
    </ul>
</section>
<section class="mainSection">
    <section class="subSection">
        <h2>Aurangabad</h2>
        <p>The time difference during our wedding will be 5:30 forward.</p>
        <p>Aurangabad is an old city founded a little before it was captured by the Mughal Empire. Once it was fully integrated with the empire,
            its name was changed to Aurangabad by the Mughal Prince Aurangazeb who was in charge of the administration of the region.</p>
        <p>When the prince took the throne, he shifted the capital to Aurangabad for his future campaigns against the southern Indian states.</p>
        <p>This resulted in a rapid urbanisation and expansion of trade into the city which cemented it as a prominent settlement of the subcontinent.</p>
        <p>Aurangazeb eventually constructed his own Taj Mahal, a smaller version of his grandfathers, and it has become known as the "Mini Taj".</p>
        <p>Today, Aurangabad is still a large city of the state of Maharashtra, although it is now a city that focuses on tourism and silk than war and trade.s</p>
    </section>
</section>
</body>