<!DOCTYPE html>
<!--<html lang="en" />-->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/general.css" />
</head>
<body>
<h1>Edd & Sanu's Wedding</h1>
<section class="navigation">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="aurangabad.html">Aurangabad</a></li>
        <li><a href="travel-info.html">Travel & Hotels</a></li>
        <li><a href="documentation.html">Documentation</a></li>
        <li><a href="itinerary.html">Itinerary</a></li>
        <li><a href="rsvp.html">RSVP</a></li>
    </ul>
</section>
<section class="mainSection">
    <section class="subSection">
        <h3>When</h3>
        <p><em>30th January 2023 - 2nd February 2023</em></p>
        <h3>Where</h3>
        <p>Our wedding will be hosted in the city of Aurangabad, Maharashtra. Note, the city has recently voted to rename itself to <em>Sambhajinagar</em>.</p>
        <img src="../static/images/aurangabad-map.jpg" alt="Aurangabad: East of Mumbai"/>
    </section>
</section>
</body>
</html>