<!DOCTYPE html>
<!--<html lang="en" />-->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/general.css" />
</head>
<body>
<h1>Edd & Sanu's Wedding</h1>
<section class="navigation">
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="aurangabad.html">Aurangabad</a></li>
        <li><a href="travel-info.html">Travel & Hotels</a></li>
        <li><a href="documentation.html">Documentation</a></li>
        <li><a href="itinerary.html">Itinerary</a></li>
        <li><a href="rsvp.html">RSVP</a></li>
    </ul>
</section>
<section class="mainSection">
    <section class="subSection">
        <h2>Documentation</h2>
        <h3>Visa Applications</h3>
        <p>You will need a visa to enter India. This is a <strong>VERY</strong> important step. don't miss this out!</p>
        <p>You will need to pay the fee for the visa, before your appointment (if you aren't booking with an eVisa) or
            before entry to the country.</p>
        <ul>
            <li>For UK & Egyptian Citizens, follow the instructions <a
                    href="https://visa.vfsglobal.com/gbr/en/ind/apply-visa" target="_blank">here</a></li>
            <li>For American, Danish, and Spanish Citizens, follow the eVisa instructions <a
                    href="https://indianvisaonline.gov.in/evisa/Registration" target="_blank">here</a></li>
            <li>For any other nationality, you can find out whether you need an eVisa or paper visa <a href=""
                                                                                                       target="_blank">here</a>
            </li>
        </ul>
        <h3>Covid Advice</h3>
        <p>Vaccinated</p>
        <p>Un-vaccinated</p>
    </section>
</section>
</body>