<!DOCTYPE html>
<!--<html lang="en" />-->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/general.css"/>
</head>
<body>
<section class="wrapper">
    <h1>Edd & Sanu's Wedding</h1>
    <section class="navigation">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="aurangabad.html">Aurangabad</a></li>
            <li><a href="travel-info.html">Travel & Hotels</a></li>
            <li><a href="documentation.html">Documentation</a></li>
            <li><a href="itinerary.html">Itinerary</a></li>
            <li><a href="rsvp.html">RSVP</a></li>
        </ul>
    </section>
    <section class="mainSection">
        <p><em>This section contains information on Visa's for entry into India and Covid-19 related travel advice.</em>
        </p>
        <section class="subSection">
            <h2 class="heading">Visa Applications</h2>
            <p>You will need a visa to enter India. This is a <strong>VERY</strong> important step. don't miss this out!
            </p>
            <h3 class="heading">What Visa Do You Need?</h3>
            <p>You can find the general process and information for a visa application <a
                    href="https://visa.vfsglobal.com/gbr/en/ind/apply-visa">here</a>.</p>
            <ul>
                <li>For UK & Egyptian Citizens, follow the instructions below for paper applications</li>
                <li>For American, Danish, and Spanish Citizens, follow the eVisa instructions <a
                        href="https://indianvisaonline.gov.in/evisa/Registration" target="_blank">here</a></li>
                <li>For any other nationality, you can find out whether you need an eVisa or paper visa <a href=""
                                                                                                           target="_blank">here</a>
                </li>
            </ul>

            <h2 class="heading">Paper Applications</h2>
            <p>The cost of the visa (for UK citizens) is around <em>£150.00</em> per person. Please be mindful of this
                before committing to the wedding!</p>
            <h3 class="heading">Getting a Paper Application Form</h3>
            <p>To get a paper application form, you will need to fill out the following online form <a
                    href="https://indianvisaonline.gov.in/visa/index.html" target="_blank">here</a>. </p>
            <p>In order to fill it out completely, you will need the following items:</p>
            <ul>
                <li>Your Passport</li>
                <li>A digital 2 x 2 inch passport style photo. It will need to be between 10 - 300 KB, and must be a
                    JPEG
                    document type. Refer below for an example image
                </li>
                <li>If you have previously been to India, you will need your old Visa</li>
            </ul>
            <h4><strong>Important Tips</strong></h4>
            <ul>
                <li>Your visa starts at the date of issue, not when you first land, be sure that you make the visa at
                    least
                    6 months long!
                </li>
                <li>If you make a mistake after completing the form, you will have to create another form. You cannot
                    edit
                    it out
                </li>
                <li>If you want to change your application form after you have booked your appointment, it is fine to do
                    so.
                    I made 3 submissions and only ever had 1 appointment
                    they do not check the online form at the Indian Mission, only the paper copies
                </li>
                <li>If you need an appointment now but don't have all the docs you need, use false data, get the
                    appointment,
                    and be sure to come back and resubmit a new form
                </li>
                <li>I highly recommend getting the photos done professionally, I saw a few people have to redo their
                    entire
                    application because they did not have the correct photo uploaded or with them at the Indian Mission
                </li>
                <li>Do as much of the application, printing and preparation for your visa at home. The Indian Mission
                    does
                    have a photocopier and 2 computers, but you will have to pay hefty prices to use them
                </li>
                <!doctype html>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport"
                          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                    <meta http-equiv="X-UA-Compatible" content="ie=edge">
                    <title>Document</title>
                </head>
                <body>

                </body>
                </html>
                </li>
            </ul>
            <p></p>
            <h3 class="heading">Booking your Appointment</h3>
            <p>There are a couple of things you will need in order to book your appointment:</p>
            <ul>
                <li>A completed application form, you can fill it out <a href="https://indianvisaonline.gov.in/"
                                                                         target="_blank">here</a>.
                </li>
                <li>A date and time that you can make, the earliest appointment that is available is typically one month
                    away
                </li>
                <li>If you are planning on going to an Indian Mission as a group, <strong>each person will need an
                    appointment</strong>.
                </li>
            </ul>
            <p>When you have your completed form, you can book your appointment <a
                    href="https://visa.vfsglobal.com/gbr/en/ind/external-interim" target="_blank">here</a>.</p>

            <h3 class="heading">Attending Your Visa Appointment</h3>
            <p>You <strong>MUST</strong> bring to the Indian Mission:</p>
            <ul>
                <li>A printed out completed visa application form, fill out <a href="https://indianvisaonline.gov.in/"
                                                                               target="_blank">here</a>
                </li>
                <li>A <strong>printed</strong> out copy of your appointment date and time, fill out <a
                        href="https://visa.vfsglobal.com/gbr/en/ind/external-interim" target="_blank">here</a>
                </li>
                <li>Your passport with at least 6 months before expiration & 2 free blank pages</li>
                <li>A printed out page of your passport photo page and adjacent page, make sure it is signed if there is
                    a
                    place to sign
                </li>
                <li>2, 2 x 2 inch square photos, guidelines can be found <a
                        href="https://indianvisaonline.gov.in/visa/instruction.html" target="_blank">here</a>
                </li>
                <li>A declaration form, printed and signed, can be found <a
                        href="https://www.vfsglobal.com/india/uk/pdf/Declaration2_240815.pdf" target="_blank">here</a>.
                    If
                    you are going into the
                    Indian Mission they also give them out
                </li>
                <p>Additionally, depending on your circumstances, you may need the following completed:</p>
                <li>If you have previously been to India you must provide a photocopy of your previous Indian Visa</li>
                <li>If you intend for someone else to attend the Indian Mission in your place you must sign an
                    authorisation
                    form, can be found <a
                            href="https://visa.vfsglobal.com/one-pager/india/uk/visa-services/english/pdf/letter_authorization_290415.pdf"
                            target="_blank">here</a>
                </li>
            </ul>
            <p>Here's my lovely mug shot for you to use as a guideline for the photo requirements:</p>
            <img class="visaPhoto" src="../static/images/IndianVisaPhoto.jpg"
                 alt="Photo, showing head and shoulder, passport style, in a square frame"/>

            <p>Once you've had your appointment, you will have to surrender your passport for the visa to be
                submitted.</p>
            <p>After 3 - 5 business days, you will receive your passport by signed courier and inside, on one of the
                pages,
                will be your visa</p>
            <hr/>

        </section>
        <section class="subSection">
            <h2 class="heading">Covid Advice</h2>
            <p>The British Government has stated that travel to India is currently safe.</p>
            <h3 class="heading">Vaccinated</h3>
            <p>If you are fully vaccinated, you will need to do the following:</p>
            <p><strong>Pre-Boarding</strong></p>
            <ul>
                <li>Submit a self declaration form, <a
                        href="https://www.newdelhiairport.in/airsuvidha/apho-registration"
                        target="_blank">here</a></li>
            </ul>
            <p><strong>On Arrival</strong></p>
            <ul>
                <li>Self monitor for the next 14 days from your arrival into India</li>
                <li>You may randomly be selected to have your temperature taken in the port of your arrival</li>
                <li>You may be asked to present your self declaration form, vaccination certificate or negative PCR test
                    to
                    staff
                </li>
            </ul>
            <p>Additional guidelines are available <a
                    href="https://www.newdelhiairport.in/pdf/Guidelines-for-International-arrivals-updated-on-02September2022.pdf"
                    target="_blank">here</a>.</p>
            <h3 class="heading">Un-vaccinated</h3>
            <p>If you are not fully vaccinated, you will need to do the following:</p>
            <p><strong>Pre-Boarding</strong></p>
            <ul>
                <li>You will need to upload a negative PRC test that has been taken 72 hours before travel</li>
                <li>You will need to submit a declaration confirming the legitimacy of the test, failure to do so will
                    result in criminal prosecution
                </li>
                <li>Your test must meet the Indian guidelines and cannot be provided by the NHS</li>
            </ul>
            <p><strong>On Arrival</strong></p>
            <ul>
                <li>Self monitor for the next 14 days from your arrival into India</li>
                <li>You may randomly be selected to have your temperature taken in the port of your arrival</li>
                <li>You may be asked to present your self declaration form, vaccination certificate or negative PCR test
                    to
                    staff
                </li>
            </ul>
            <p>Additional guidelines are available <a
                    href="https://www.newdelhiairport.in/pdf/Guidelines-for-International-arrivals-updated-on-02September2022.pdf"
                    target="_blank">here</a>.</p>

        </section>
    </section>
</section>
</body>
</html>