<!DOCTYPE html>
<!--<html lang="en" />-->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/general.css"/>
</head>
<body>
<section class="wrapper">
    <h1>Edd & Sanu's Wedding</h1>
    <section class="navigation">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="aurangabad.html">Aurangabad</a></li>
            <li><a href="travel-info.html">Travel</a></li>
            <li><a href="hotels.html">Hotels</a></li>
            <li><a href="documentation.html">Documentation</a></li>
            <li><a href="itinerary.html">Itinerary</a></li>
            <li><a href="rsvp.html">RSVP</a></li>
        </ul>

    </section>
    <section>
        <h3>Hotels</h3>
        <p>We are currently getting the best deals for you, this will be updated when we have a list of hotels for
            you
            to
            choose from.</p>
    </section>
</section>
</body>
</html>