<!DOCTYPE html>
<!--<html lang="en" />-->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/general.css"/>
</head>
<body>
<section class="wrapper">
    <h1>Edd & Sanu's Wedding</h1>
    <section class="navigation">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="aurangabad.html">Aurangabad</a></li>
            <li><a href="travel-info.html">Travel</a></li>
            <li><a href="hotels.html">Hotels</a></li>
            <li><a href="documentation.html">Documentation</a></li>
            <li><a href="itinerary.html">Itinerary</a></li>
            <li><a href="rsvp.html">RSVP</a></li>
        </ul>

    </section>
    <section class="mainSection">
        <h3>Hotels</h3>
        <p>Here are a few selection of hotels you can browse to see what you like.</p>
        <p><strong>Do not book anything yet!</strong> Instead, tell us where you want to stay and we will work to get a
            discount for you.</p>
        <h3>The Aures - Recommended</h3>
        <a target="_blank"
           href="https://www.tripadvisor.co.uk/Hotel_Review-g297649-d1965425-Reviews-The_Aures_Formerly_Keys_Select_Hotel_Aures_Aurangabad-Aurangabad_Aurangabad_District_M.html">
            Trip Advisor Reviews</a>
        <p>Rated the 12th best hotel in the Aurangabad area, this 4-star hotel will provide you a comfortable and
            relaxing room during your stay.</p>
        <p>The current rate as of 24/09/2022 on the site is £52 per room per night.</p>
        <h3>The Lemon Tree - Recommended</h3>
        <a target="_blank"
           href="https://www.tripadvisor.co.uk/Hotel_Review-g297649-d1164707-Reviews-Lemon_Tree_Hotel_Aurangabad-Aurangabad_Aurangabad_District_Maharashtra.html">
            Trip Advisor Reviews</a>
        <p>The Lemon Tree is a spacious and spa-like style hotel where you can find some peace after the busy days.</p>
        <p>The current rate as of 24/09/2022 on the site is £80 per room per night.</p>
        <h3>The Fern Residency</h3>
        <a target="_blank"
           href="https://www.tripadvisor.co.uk/Hotel_Review-g297649-d636927-Reviews-The_Fern_Residency_Aurangabad-Aurangabad_Aurangabad_District_Maharashtra.html">
            Trip Advisor Reviews
        </a>
        <p>The current rate as of 24/09/2022 on the site is £65 per room per night.</p>
        <h3>Vivanta Aurangabad</h3>
        <a target="_blank"
           href="https://www.tripadvisor.co.uk/Hotel_Review-g297649-d304705-Reviews-Vivanta_Aurangabad_Maharashtra-Aurangabad_Aurangabad_District_Maharashtra.html">
            Trip Advisor Reviews
        </a>
        <p>The current rate as of 24/09/2022 on the site is £153 per room per night.</p>
        <h3>Ambassador Ajanta</h3>
        <a target="_blank"
           href="https://www.tripadvisor.co.uk/Hotel_Review-g297649-d447371-Reviews-The_Ambassador_Ajanta-Aurangabad_Aurangabad_District_Maharashtra.html">
            Trip Advisor Reviews
        </a>
        <p>The current rate as of 24/09/2022 on the site is £128 per room per night.</p>
        <h3>VITS</h3>
        <a target="_blank"
           href="https://www.tripadvisor.co.uk/Hotel_Review-g297649-d1208477-Reviews-VITS_Hotel_Aurangabad-Aurangabad_Aurangabad_District_Maharashtra.html">
            Trip Advisor Reviews
        </a>
        <p>The current rate as of 24/09/2022 is not listed on the site.</p>
        <h3>OYO</h3>
        <p><strong>Do not book this hotel!</strong> It might look cheap, but it is a red-light district type of hotel.</p>
    </section>
</section>
<footer></footer>
</body>
</html>