<!DOCTYPE html>
<!--<html lang="en" />-->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/general.css"/>
</head>
<body>
<section class="wrapper">
    <h1>Edd & Sanu's Wedding</h1>
    <section class="navigation">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="aurangabad.html">Aurangabad</a></li>
            <li><a href="travel-info.html">Travel</a></li>
            <li><a href="hotels.html">Hotels</a></li>
            <li><a href="documentation.html">Documentation</a></li>
            <li><a href="itinerary.html">Itinerary</a></li>
            <li><a href="rsvp.html">RSVP</a></li>
        </ul>
    </section>
    <section class="mainSection">
        <section class="subSection">
            <h2>Travel</h2>
            <p>Depending on your country of departure, there will be several ways to travel to Aurangabad. The main
                focus will be flying as any other method takes a while</p>
            <p>Albeit, the routes will look very similar. There are 2 main routes to travel to Aurangabad.</p>
            <ol>
                <li>Country of Departure --> New Delhi --> Aurangabad</li>
                <lI>Country of Departure --> Mumbai --> Aurangabad</lI>
            </ol>
            <h3>United Kingdom</h3>
            <p>The first leg of your journey will be travelling into either Mumbai or New Delhi.</p>
            <p>The main airline providers that you will want to look at for your journey into India will be:</p>
            <ul>
                <li>Air India,</li>
                <li>British Airways,</li>
                <li>Virgin Atlantic,</li>
                <li>Lufthansa,</li>
                <li>Air Swiss,</li>
                <li>Many more, you can check them out <a
                        href="https://www.skyscanner.net/transport/flights/lhr/del/230128/?adults=2&adultsv2=2&cabinclass=economy&children=0&childrenv2=&destinationentityid=27540706&inboundaltsenabled=false&infants=0&outboundaltsenabled=false&preferdirects=false&ref=home&rtn=0">
                    here</a>
                </li>
            </ul>
            <p>Then, you will need a connecting flight into Aurangabad, this will most likely be provided by Air
                India.</p>
            <p>Return flights for 1 person will be in the range of £600 - £800 depending on when you travel.</p>
            <p><a href="https://jetsettingfools.com/tips-on-booking-flights/">Here</a> are a few tips you can use to
                save yourself some money</p>
            <h3>EU</h3>
            <p>Much like the UK, the first leg of your journey will be travelling into either New Delhi or Mumbai.</p>
            <p>However, depending on where you live within the EU, you may need to get an additional connecting flight
                to get to an airport that facilitates travel to India.</p>
            <p>Here are a list of airports you can use if you need an additional connecting flight:</p>
            <ul>
                <li>London Heathrow,</li>
                <li>Rome Flumicino,</li>
                <li>Paris Charles de Gaulle,</li>
                <li>Frankfurt am Main,</li>
                <li>Munich International,</li>
                <li>Istanbul International</li>
            </ul>
            <p>When you are at one of these airports, or one that let's you travel directly to India, here are some
                airlines you can use:</p>
            <ul>
                <li>ITA Airways,</li>
                <li>British Airways,</li>
                <li>Air India,</li>
                <li>Lufthansa,</li>
            </ul>
            <p>After you have landed in India, you will need to get a final connecting flight into Aurangabad.</p>
            <p>Return flights for 1 person will be in the range of €600 - €800 depending on when you travel and from
                where you start.</p>
            <p><a href="https://jetsettingfools.com/tips-on-booking-flights/">Here</a> are a few tips you can use to
                save yourself some money</p>
            <h3>Egypt</h3>
            <p>If you are flying to India from Egypt, you will need to get a connecting flight to India. Fortunately, as
                you are closer to India, you won't go too far out of your way in your travels and will have cheaper
                prices.</p>
            <p>The main destinations you will connect to before entering India will be:</p>
            <ul>
                <li>Bahrain, Bahrain,</li>
                <li>Riyadh, Saudi Arabia,</li>
                <li>jeddah, Saudi Arabia,</li>
                <li>Kuwait, Kuwait</li>
            </ul>
            <p>After this you will travel straight to you preferred port of Delhi or Mumbai.</p>
            <p>Your choice of airlines are:</p>
            <ul>
                <li>Gulf Air,</li>
                <li>Flynas,</li>
                <li>Saudia,</li>
                <li>Qatar Airways</li>
            </ul>
            <p>Then you will get a connecting flight to Aurangabad, most likely provided by Air India.</p>
            <p>Return flights for 1 person will be in the range of 6,000 LE - 8,500 LE.</p>
            <p></p>
        </section>
    </section>
</section>
<footer></footer>
</body>
</html>