<!DOCTYPE html>
<!--<html lang="en" />-->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/general.css"/>
</head>
<body>
<section class="wrapper">
    <h1>Edd & Sanu's Wedding</h1>
    <section class="navigation">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="aurangabad.html">Aurangabad</a></li>
            <li><a href="travel-info.html">Travel & Hotels</a></li>
            <li><a href="documentation.html">Documentation</a></li>
            <li><a href="itinerary.html">Itinerary</a></li>
            <li><a href="rsvp.html">RSVP</a></li>
        </ul>
    </section>
    <section class="mainSection">
        <section class="subSection">
            <h2>Travel & Accommodation</h2>
            <h3>Flights</h3>
            <p>The airline you're most likely to travel with is Air India. They will do connecting flights to New Delhi
                or
                Mumbai and then to Aurangabad</p>
            <p>The advice we have received is to directly book with Air India, this way you will be guaranteed a seat on
                the
                plan.</p>
            <p>If you are travelling from London it will take about a day to arrive in Aurangabad. Therefore, make sure
                you
                leave plenty of time to settle in and
                catch up with yourself! Do you want to start a wedding severely travel exhausted?</p>
            <h3>Hotels</h3>
            <p>We are currently getting the best deals for you, this will be updated when we have a list of hotels for
                you
                to
                choose from.</p>
        </section>
    </section>
</section>
</body>
</html>